*.mha
*.mhd
*~
*pyc
MRO/
docs/
dist/
mrotools/dev*
mrotools/link_rawdata_examples
mrotools/t.py
_data/
__pycache__
*.egg-info
*.egg
*.log
*.nii
*.nii.gz
*.npz
*.pyc


.vscode
mrotools/link_rawdata_examples
